body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }

    header {
      background-color: #2b7cff;
      color: white;
      padding: 2px;
      text-align: center;
    }

    header .subnav {
      font-size: 20px;
      color: white;
      text-align: center;
    }

    .container {
      width: 95%;
      margin: 0 auto;
      padding: 20px;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }

    main {
      padding: 0;
    }

    section {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 25px;
      color: #ffffff;
    }

    h4 {
      font-size: 20px;
      color: #2b7cff;
    }

    ul {
      list-style-type: square;
      margin-left: 20px;
    }

    img {
      width: 100%;
      max-width: 600px;
      display: block;
      margin: 10px auto;
    }

    .verificador {
      margin-top: 30px;
      padding: 20px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .verificador button  {
      background-color: #2b7cff;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .verificador button:hover {
      transform: scale(1.05);
      background-color: #1f75ff;
      color: white;
    }

    .enviar-mensagem {
      background-color: #2b7cff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }

    .enviar-mensagem:hover {
      transform: scale(1.05);
      background-color: #1f75ff;
      color: white;
    }


    #resultado {
      margin-top: 10px;
    }

    p {
      text-align: justify;
    }

    .video {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      min-width: 50px;
    }

    .titulo-centralizado {
      text-align: center;
    }

    .section-centralizada {
      text-align: center;
    }

    .section-centralizada ul {
      list-style-position: inside; /* Faz os marcadores ficarem dentro do bloco, centralizando melhor */
      display: inline-block;       /* Faz a lista se comportar como um bloco centrado */
      text-align: left;            /* Mantém o alinhamento dos itens da lista à esquerda dentro do bloco centralizado */
      padding: 0;
    }

    footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 13px;
    }


